.row
  .span12
    .hero-unit
      %h1 Ошибка 404 приключилась с тобою
      %p это говорит о том, что такой страницы у нас нет
      %p
        Попробуй вернуться на
        %a{:href => "/"} главную страницу
        и поискать чего-нибудь