.userpic {
  width: 50;
  height: 50;
  display: inline;
}

.footer {
  font-size: 0.8em;
  font-color: #666;
  margin-top: 24px;
  padding-top: 12px;
  border-top: 1px solid #666;
}
.footer a {
  color: #3bf;
}